.sign-up-bg-container{
    background-image:linear-gradient(to right,#32243D,#362841,#10001B);
    min-height:100vh;
    width:100vw;
    display:flex;
    justify-content:center;
    align-items:center;
}
.sign-up-form-container{
    background-color:#ffffff;
    border-radius:12px;
   display:flex;
   flex-direction:column;
   align-items:center;
   width:30%;
}
.sign-up-heading{
    color:#9502FB;
    font-family: "Roboto";
    font-size:32px;
    font-weight:800;
}
.sign-up-btn{
    background-color:#9502FB;
    border:none;
    border-radius:8px;
    height:40px;
    width:70%;
    margin-top:20px;
    color:#ffffff;
    outline:none;
}
.sign-up-input {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: "Roboto";
    outline:none;
   
  }
  .sign-up-description{
    color:#000000;
    font-family: "Roboto";
    font-size:12px;
    margin-bottom:20px;
    
  }
  span{
    color:#10001B;
    font-weight:600;

  }
  .error-msg{
    color:red;
    font-size:10px;
    font-family:"Roboto";
    align-self:flex-start;
    margin-left:50px;
}
  @media screen and (max-width:576px){
    .sign-up-form-container{
        width:80%;

    }
    .sign-up-heading{
        font-size:28px;
    }

  }