.sign-up-form-container{
  background-color:#ffffff;
  border-radius:8px;
   display:flex;
   padding : 20px 12px 20px 12px;
   gap: 12px;
   flex-direction:column;
   align-items:center;
   width:350px;
   position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.sign-up-heading{
    color:#9502FB;
    font-size:26px;
    font-weight:bold;
}
.sign-up-btn{
    margin-top:15px;
}
.sign-up-input {
  width: 95%;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 5px;
  font-size: 16px;
  outline: none;
   
  }
  .sign-up-description{
    color:#000000;
    font-size:12px;
    margin-bottom:20px;
    margin-top: 5px;
    
  }
  span{
    color:blue;
    font-weight:600;

  }
<<<<<<< HEAD
  
.fill-this-field{
  border: 1px solid red;
}
=======
  .error-msg{
    color:red;
    font-size:10px;
    font-family:"Roboto";
    align-self:flex-start;
    margin-left:50px;
}
  @media screen and (max-width:576px){
    .sign-up-form-container{
        width:80%;

    }
    .sign-up-heading{
        font-size:28px;
    }

  }
>>>>>>> 99091c3d0afbdf9e7657e181ad59edda3a9999d0
