.function-hall-section-container{
    min-height: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap : 15px;
}
.fh-section-header-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.fh-section-head{
    color: #9502FB;
    font-size: 24px;
    font-weight: 450;
}

.fh-section-filter{
    display: flex;
    color: red;
    align-items: center;
    justify-content: center;
    gap : 5px;
}

.fh-filter-text{
    margin: 0;
    text-transform: capitalize;
    font-size: 15px;
}

.fh-filter-option{

}

.fh-card{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap : 20px;
}
.fh-card-show-all-true{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Define 4 equal columns */
    gap: 10px; /* Add spacing between boxes */
  }
@media screen and (max-width : 578px) {
    .fh-card ,.fh-card-show-all-true{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        gap : 20px;
    }
}
.fh-show-all{
    display: flex;
    align-items: center;
    color: red;
}
.fh-show-all p{
    margin: 0;
    font-size: 14px;
}

.filter-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.filter-popup {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.close-filter {
    background: none;
    border: none;
    color: #b00;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}