.hotel-details-container {
    min-height: 100vh;
    width: 100vw;
    background-color: white;
    
    
    
}
.hotel-details-bottom-container{
    display:flex;
    flex-direction:row;
    justify-content:center;
    padding:20px;
    width:100%;
    gap: 20px;
    margin:0px;
    

    
}
.hotel-details-image{
    width:70%;
    height:400px;
    background-size: cover;
    
    
}

.hall-details-container{
    border:1px solid #808080;
    border-radius:6px;
    padding:20px;
    display:flex;
    flex-direction:column;
    width:40%;
    
    

}
.hall-name{
    color:#000000;
    
}
.hall-price{
    color:#9502FB;
}
.hotel-details-address{
    color:#808080;

}
.hotel-details-icon-location{
    margin :0 ;
    font-size: 20px;
    margin-right: 5px;
    color: #000000;
}
.hall-description{
    color:#3232CF;

}
.hotel-details-like-icon{
    margin-right: 5px;
    color: black;
    cursor: pointer;
}
.hotel-details-btn{
    color:#ffffff;
    background-color: #666699;
    border:none;
    border-radius:13px;
    height:30px;
    width:120px;
    font-size:10px;
    margin:10px;
    margin-top:20px;
}
.hall-details-icons-container{
    display:flex;
    padding:5px;
    
    
}
.likes-continer{
    display:flex;
    align-items:center;
    margin-right:20px;
}
.shares-continer{
    display:flex;
    align-items:center;

}
.hotel-details-noof-likes{
    margin-right: 10px;
    font-size: 16px;
    padding-top: 13px;
    color: black;

}
.hotel-details-address-continer{
    display:flex;

}
.hotel-details-name-price-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:10px;
    margin-top:20px;
}
@media screen and (max-width: 992px) {
    .hotel-details-image {
        width: 100%;
        height: auto; 
    }

    .hotel-details-bottom-container {
        flex-direction: column;
    }

    .hall-details-container {
        width: 100%; /* Full width on medium and small devices */
        padding: 15px;
        
    }

    .hotel-details-btn {
        height: 40px; 
        font-size: 14px; 
    }
}

@media screen and (max-width: 567px) {
    .hotel-details-image {
        width: 100%; 
    }
    

    .hall-details-container {
        width: 100%; 
        padding: 10px;
    }

    .hotel-details-btn {
        width: 100%; 
        margin: 10px 0;
    }

    
}