.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding:5px 25px 5px 25px;   
    background-color: white; 
}

.header-logo {
    width: 200px;
    border-radius: 50%;
    padding: 5px;
    
}
.header-logo-mb{
    display: none;
}

@media screen and (max-width : 578px) {
    .header{
        padding-left: 0; 
        padding-right: 10px;
        gap : 15px;
    }
    .header-logo{
        display: none;
    }
    .header-logo-mb{
        display: block;
        width: auto;
        height: 40px;
        padding-left: 10px;
    }
}

.header-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-title {
    font-size: 24px;
    color: #9502FB;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.header-middle {
    flex: 1;
    display: flex;
    justify-content: center;
}

.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid #9502FB;
    height: 40px;
    background-color: #f5f5f5;
}

@media screen and (max-width : 578px) {
    .header-middle{
        width: 70%;
    }
    .search-container{
        height: 32px;
        width: 100%;
    }
}
.search-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;   
}

.search-icon {
    font-size: 20px;
    color: #aaa;
}

.search-input-container {
    flex: 1;
}

.header-search {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    padding: 0 10px;
    border-radius: 20px;
    background: transparent
}

.header-search::placeholder {
    color: #aaa;
    
}

.header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.notification, .gift, .user {
    font-size: 30px;
    color: #9502FB;
    transition: transform 0.3s ease, color 0.3s ease;
}

.header-right{
    cursor: pointer;
}

.header-right-mobile{
    display: none;
}
@media screen and (max-width : 578px) {
    .header-right{
        display: none;
    }
    .header-right-mobile{
        display: flex;
    }
    .options-icon{
        height: 30px;
        color: #9502FB;
        width: auto;
    }
}

.profile-container{
    position: fixed;
    background-color: white;
    width: 300px;
    min-height:450px;
    top: 70px;
    right : 60px;
    z-index: 100;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding:10px;
    padding-bottom:30px;
}
.profile-popup-top-container{
   
    border-radius:8px;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:5px;
    box-sizing: border-box;
}
.profile-popup-details-container{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center
}
.profile-popup-name{
    color:#000000;
    font-family: "Roboto";
    font-size:19px;
    font-weight:600;
    margin:0px;
   
}
.profile-popup-text{
    color:#4d4d4d;
    font-family: "Roboto";
    font-size:17px;
    margin:0px;
    
}
.profile-popup-mail{
    color:#8c8c8c;
    font-family: "Roboto";
    font-size:14px;
   
}
.profile-icon{
    width: 60px;
    height: 60px;

    margin-top:10px;

}
.profile-popup-notification{
    color:#000000;
    font-size:22px;
    margin-right:10px;
    
}
.profile-popup-bottom-container{
   
    border-radius:8px;
    display:flex;
    flex-direction:column;
    margin-top:10px;
    padding:5px;

}
.profile-popup-text-container{
    display:flex;
    align-items:center;
    margin-top:10px;
    
    
}
hr{
    margin:0px;
    margin-top:10px;
}
.popup-logout-icon{
    color:#000000;
    font-size:22px;
    margin-right:10px;
   

}
@media screen and (max-width:567px){
    .profile-container{
        right:30px;
        top:50px;

    }
}
