.login-container{
    background-color: white;
    width: 350px;
    padding : 20px 12px 20px 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.login-heading{
    font-size: 26px;
    text-align: center;
    color: #9502FB;
    font-weight: bold;
}
.login-input{
    width: 100%;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
    font-size: 16px;
    outline: none;
}
.login-middle{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 12px;
    align-items: center;
    margin-top:5px ;
    padding: 0 5px 0 5px;
}
.login-special-link{
    color: blue;
    margin: 0;
}
.submit-error-block{
    width: 100%;
    height: 50px;
}
.login-button{
}
.error-msg{
    font-size: 10px;
    color: red;
    padding : 2px 0 0 3px;
}
.login-bottom{
    font-size: 12px;
}

.fill-this-field{
    border: 1px solid red;
}